/*
colors used:
Almond #DDC9B4, RGB 221,201,180;
Sonic Silver (Dark Gray) #707070, RGB 112,112,112;
Cultured (Offwhite) #F2F2ED, RGB 242,242,237;
Viidian Green (light) #1196A0, RGB 17,150, 160;
Blue Sapphire (Dark) #0B5F75, RGB 11,95,117;
*/



body{
  background-color:#F2F2ED;
  font-family: 'Benne', serif;
  font-family: 'Reenie Beanie', cursive;
  font-family: 'Quicksand', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.3;
  color: #707070;
    }
    header{
      background-color:#DDC9B4;
      opacity:0.8;
    }
    h1,h2,h3,h4{
      line-height:1.4;
    }
    h1{
       font-family: 'Benne', serif;
       font-size: 1.563em;
    }
    h2{
       font-family: 'Reenie Beanie', cursive;
       font-size: 1.563em;
    }
    h3{
      font-family: 'Benne', serif;
      font-size: 1.25em;
    }
    h4{
      font-family: 'Benne', serif;
      font-size: 1em;
    }
    footer{
      background-color:#DDC9B4;
    }
    .makeUppercase{
      text-transform: uppercase;
    }
    .makeLowercase{
      text-transform: lowercase;
    }
    .underline{
      text-decoration: underline;
    }
    .writingMode{
      writing-mode: horizontal-tb|vertical-rl|vertical-lr;
    }
    img{
      width:100%
    }
    a{
      color:#1196A0;
      text-decoration: none;
    }
    a:hover,
    a:focus{
      color:#1196A0;
      text-decoration: underline;
    }
    a:visited{
      color:#F2F2ED;
    }
    a:active{
      color:#0B5F75;
    }

    .wordCarousel {
      font-size: 20px;
      font-weight: 100;
      color: #707070;
      div{
        overflow: hidden;
        position: relative;
        float: right;
        height: 50px;
        padding-top: 10px;
        margin-top: -10px;
        li{
          font-family: cursive;
          color: #1196A0;
          font-weight: bold;
          padding: 0 10px;
          height: 45px;
          margin-bottom: 45px;
          display: block;
        }
      }
    }  


    .flip4 {
      animation: flip4 10s cubic-bezier(0.23, 1, 0.32, 1.2) infinite;
    }

    @keyframes flip4 {
      0% {
        margin-top: -360px;
      }

      5% {
        margin-top: -270px;
      }

      25% {
        margin-top: -270px;
      }

      30% {
        margin-top: -180px;
      }

      50% {
        margin-top: -180px;
      }

      55% {
        margin-top: -90px;
      }

      75% {
        margin-top: -90px;
      }

      80% {
        margin-top: 0px;
      }

      99.99% {
        margin-top: 0px;
      }

      100% {
        margin-top: -270px;
      }
    }

    // Layout //////////////////////////////////////////
    @import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:300|Oswald);

    body,
    html {
      width: 100%;
      height: 100vh;
      margin: 0;
      padding: 0;
      overflow: hidden;
    }

    body {
      font-family: "Roboto Condensed", cursive;
      display: flex;
      align-items: center;
      justify-content: center;

      &::after {
        content: "";
        display: block;
        width: 110%;
        height: 125vh;
        position: absolute;
        z-index: -1;
        transform: rotate(20deg);
        border-radius: 50%;
      }
    }



    .button {
      display: inline-block; /* since the <a> tag is inline by default, we need to change this to inline-block, but more on this in the next exercise */
      background-color: #1196A0;
      color: #F2F2ED; /* needed to override the default link color */
      font-weight: 500;
      padding: 10px;
      border-radius: 5px;
      border-bottom: 2px solid #0B5F75; /* width of the border, type, color */
      transition: 0.2s opacity;
    }
    .button:hover,
    .button:focus{
      opacity: 0.8;
      text-decoration: underline
    }
