/*
colors used:
Almond #DDC9B4, RGB 221,201,180;
Sonic Silver (Dark Gray) #707070, RGB 112,112,112;
Cultured (Offwhite) #F2F2ED, RGB 242,242,237;
Viidian Green (light) #1196A0, RGB 17,150, 160;
Blue Sapphire (Dark) #0B5F75, RGB 11,95,117;
*/


*{
  box-sizing: border-box;
}
body{
  background-color:#F2F2ED;
  font-family: 'Quicksand', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.2;
  color: #707070;
    }
    header{
      background-color:#DDC9B4;
      opacity:0.8;
      padding: 5px 0;
      border-bottom: 3px solid #1196A0;
      text-align: center;
      -webkit-box-shadow: 7px 7px 15px 0px rgba(50, 50, 50, 0.26);
      -moz-box-shadow:    7px 7px 15px 0px rgba(50, 50, 50, 0.26);
      box-shadow:         7px 7px 15px 0px rgba(50, 50, 50, 0.26);
      position: relative;
    }
    h1,h2,h3,h4{
      line-height:1.0;
    }
    h1{
       font-family: 'Benne', serif;
       font-size: 1.563em;
    }
    h2{
       font-family: 'Reenie Beanie', cursive;
       font-size: 1.563em;
       text-decoration: underline;
       text-decoration-color: #1196A0;
       white-space: nowrap;
    }
    h3{
      font-family: 'Benne', serif;
      font-size: 1.25em;
    }
    h4{
      font-family: 'Benne', serif;
      font-size: 1em;
    }
    main{
      padding-top: 10px;
    }
    footer{
      background-color:#DDC9B4;
      padding: 5px 0;
    }
    .uppercase{
      text-transform: uppercase;
    }
    .lowercase{
      text-transform: lowercase;
    }
    .underline{
      text-decoration: underline;
    }
    .bold{
      font-weight: bold;
    }
    img{
      width:100%
    }
    .container{
      max-width: 1200px;
      padding: 0 15px;
    }
    .contents{
      max-width: inherit;
      margin: auto;
      padding: 0 5%;
    }
    section{
      margin-bottom: 40%;
    }
    .stage{
      text-transform: uppercase;
      text-decoration: underline;
      text-decoration-color: #1196A0;
      writing-mode: vertical-rl;
      position: absolute;
      margin-top: 10px;
      margin-left: -20px;
      white-space: nowrap;
      color: #0B5F75;

      letter-spacing: 2px;

    }
    .flex-container{
      display: flex;
      flex-wrap: wrap;
      margin-left: 50px;
    }
      .button {
      display: inline-block; /* since the <a> tag is inline by default, we need to change this to inline-block, but more on this in the next exercise */
      background-color: #1196A0;
      color: #F2F2ED; /* needed to override the default link color */
      font-weight: 500;
      padding: 10px;
      border-radius: 5px;
      border-bottom: 2px solid #0B5F75; /* width of the border, type, color */
      transition: 0.2s opacity;
    }
    .button:hover,
    .button:focus{
      opacity: 0.8;
      text-decoration: underline
    }
    .button:active{
      color: #0B5F75;
    }
    .button.contact{
      background-color: transparent;
      color: #1196A0;
      text-transform: uppercase;
      border: 2px solid #1196A0;
      vertical-align: baseline;
      text-align: center;
      }
    .button.contact:hover,
    .button.contact:focus{
      background-color: #0B5F75;
      color: #F2F2ED;
      }
      .button.contact:active{
        color: #1196A0
      }
/* Layout styling */
.row{
  margin: 25px 0;
}
#projects .row{
  padding-bottom: 25px;
  border-bottom: 3px solid #1196A0
}
.logo{
  max-width: 60px;
}
.icon{
  max-width: 48px;
}
nav > ul{
  list-style-type: none;
  padding:0;
  overflow: hidden;
  background-color: #0B5F75;
  font-size: 14px;
}
nav > ul > li{
  display: inline-block;
  }
nav > ul > li> a{
  padding: 14px 10px;
  border-radius: 3px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 600;
  color: #1196A0;
  display: block;
  text-align: center;
}
nav > ul > li> a:visited{
  background-color: #1196A0;
  color: #F2F2ED;
}
nav > ul > li> a:focus,a:hover:not(.active){
  background-color: #707070;
  text-decoration: underline;
}
nav > ul > li> a:active{
  background-color: #1196A0;
}
.active{
  background-color: #1196A0;
}
#hero{
  padding: 10px;
  display: inline-block;
  width: 100%;
}
#hero h1{
  text-align: center;
  position: relative;
}
.imgcontain{
  position: relative;
  width: 100%;
}
.imgol{
  display: block;
  width: 100%;
  height: auto;
  border-radius: 15px;
}
.overlay{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .8s ease;
  background-color: #0B5F75;
  border-radius: 15px;
}
.imgcontain:hover .overlay{
  opacity: .8;
}
.oltext{
  color: #F2F2ED;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
a{
  color:#1196A0;
  text-decoration: none;
}
a:hover,
a:focus{
  color:#1196A0;
  text-decoration: underline;
}
a:visited{
  color:#F2F2ED;
}
a:active{
  color:#0B5F75;
}
.footer{
  list-style: none;
  font-size: 14px;
}
.footer li{
  display: inline-block;
}
.indent{
  text-indent: 2%;
  list-style-position: inside;
}
.aboutimg{
  max-width: 40%;
  margin: 15px;
}
.floatR{
  float: right;
  }
.rolesandtools{
  background-color: #1196A0;
  display: inline-block;
  color: #F2F2ED;
  padding: 2%;
  margin: 0 5%;
  border-radius: 5px;
}
.mbl{
  float: left;
  max-width: 50%;
}
.mbr{
  float: right;
  max-width: 50%;
}
.designprocess{
  column-count: 3;
  column-gap: 2%;
  column-rule-style:solid;
  column-rule-width: 3px;
  column-rule-color: #1196A0;
  margin-top: 10px;
  font-size: 80%;
  }
.designprocess > ul{
  list-style-type:none;
}
div.gallery{
  margin: 5px;
  border: 1px solid #707070;
  float: left;
  width: 180px;
}
div.gallery:hover{
  border: 2px solid #1196A0;
}
div.gallery img {
  width: 100%;
  height: auto;
}
div.desc {
  padding: 15px;
  text-align: center;
}
/* Word Carousel */
.wordCarousel {
    font-size: 36px;
    font-weight: 100;
    color: #707070;
    position: absolute;
  }
.wordCarousel >div {
    overflow: hidden;
    position: relative;
    float: right;
    height: 65px;
    padding-top: 10px;
    margin-top: -10px;
    text-align: left;
  }
.wordCarousel >ul{
    list-style-type: none;
    padding-left: 0px;
  }
.wordCarousel > ul > li {
    font-family: 'Reenie Beanie', cursive;
    color: #1196a0;
    font-weight: 700;
    padding: 0 10px;
    height: 45px;
    margin-bottom: 45px;
    display: block;
    }
.flip4 {
  animation: flip4 15s cubic-bezier(0.23, 1, 0.32, 1.2) infinite;
  }

@keyframes flip4 {
    0% { margin-top: -360px; }
    5% { margin-top: -270px; }
    25% { margin-top: -270px; }
    30% { margin-top: -180px; }
    50% { margin-top: -180px; }
    55% { margin-top: -90px; }
    75% { margin-top: -90px; }
    80% { margin-top: 0px; }
    99.99% { margin-top: 0px; }
    100% { margin-top: -270px; }
}
