/*
colors used:
Almond #DDC9B4, RGB 221,201,180;
Sonic Silver (Dark Gray) #707070, RGB 112,112,112;
Cultured (Offwhite) #F2F2ED, RGB 242,242,237;
Viidian Green (light) #1196A0, RGB 17,150, 160;
Blue Sapphire (Dark) #0B5F75, RGB 11,95,117;
*/



body{
  background-color:#F2F2ED;
  font-family: 'Quicksand', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.3;
  color: #707070;
    }
    header{
      background-color:#DDC9B4;
      opacity:0.8;
      padding: 10px;
      margin: 10px;
    }
    h1,h2,h3,h4{
      line-height:1.4;
    }
    h1{
       font-family: 'Benne', serif;
       font-size: 1.563em;
    }
    h2{
       font-family: 'Reenie Beanie', cursive;
       font-size: 1.563em;
    }
    h3{
      font-family: 'Benne', serif;
      font-size: 1.25em;
    }
    h4{
      font-family: 'Benne', serif;
      font-size: 1em;
    }
    footer{
      background-color:#DDC9B4;
    }
    .uppercase{
      text-transform: uppercase;
    }
    .lowercase{
      text-transform: lowercase;
    }
    .underline{
      text-decoration: underline;
    }
    .bold{
      font-weight: bold;
    }
    img{
      width:100%
    }
    a{
      color:#1196A0;
      text-decoration: none;
    }
    a:hover,
    a:focus{
      color:#1196A0;
      text-decoration: underline;
    }
    a:visited{
      color:#F2F2ED;
    }
    a:active{
      color:#0B5F75;
    }
    .button {
      display: inline-block; /* since the <a> tag is inline by default, we need to change this to inline-block, but more on this in the next exercise */
      background-color: #1196A0;
      color: #F2F2ED; /* needed to override the default link color */
      font-weight: 500;
      padding: 10px;
      border-radius: 5px;
      border-bottom: 2px solid #0B5F75; /* width of the border, type, color */
      transition: 0.2s opacity;
    }
    .button:hover,
    .button:focus{
      opacity: 0.8;
      text-decoration: underline
    }
    .button:active{
      color: #0B5F75;
    }
    .button.contact{
      background-color: transparent;
      color: #1196A0;
      text-transform: uppercase;
      border: 2px solid #1196A0;
      }
    .button.contact:hover,
    .button.contact:focus{
      background-color: #0B5F75;
      color: #F2F2ED;
      }
      .button.contact:active{
        color: #1196A0
      }
